body {
	margin: 0;
	background-color: #000;
	font-family: monospace;
	overscroll-behavior: none;

	font-size: xxx-large;
	color: #fff;
	text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

#start {
	width: 50vw;
	height: 20vh;
	font-size: 15vh;

	/* center button */
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	user-select: none;
	pointer-events: none;
	z-index: 1;
}

#version {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: x-small;
	z-index: 1;
}
